<div class='max-container'>

  <div class='sans-serif'>
    <div class='flex justify-between w-100 pt5 pb4 ph5'>
      <span>
        <img class='_logo' src='../assets/ies_logo.png' />
        
      </span>
      <span class='flex justify-around items-center'>
        <!-- <p class='f6'>Good evening Gerard Thursday, 14 Dec 2017</p> -->
        <span class='ph1 mr2 fw6'>Gerard Simpson</span>
        <i class="fa fa-caret-down mr2" aria-hidden="true"></i>
        <img class=' _avatar ph1 br-100' src='../assets/gerard.jpg'/>
      </span>
    </div>

    <div class='flex justify-between w-100 bt bb b--light-gray'>
      <!-- <span class='flex justify-start pl3'>
          <span class='pa3 _success' *ngFor='let link of links'><span class=''>my</span>{{link}}</span>
      </span> -->
      <div class="flex justify-between w-100 bt bb b--light-gray _nav">
        <span class="flex flex-wrap justify-start pl4">
          <a *ngFor="let x of nav; let i = index" class="ma0 pv3 ph4 no-underline" routerLinkActive="active" [routerLink]="['/' + x]"><span class="">{{x}}</span></a>
          <!-- <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 _success no-underline" [routerLink]="['/home']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/messages']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/department']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/staff']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/schedule']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/profile']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/advisor']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/ies']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/owa']"><span class="">
          <a (click)="toggleClass()" [ngClass]="{'selected-underline': isActive}" class="ma0 pv3 ph4 no-underline" [routerLink]="['/help']"><span class=""> -->
        </span>
      </div>

    </div>
    <!-- <hr class='ba ma0 _stripes _spacer'> -->
    <router-outlet></router-outlet>
  </div>
</div>