<div class='fl w-20 br b--light-gray pt4'>
    <!-- <section class='pa4 ph4 flex justify-center bb b--light-gray'> -->
    <!-- <div class='w-100 ph4 pv2 br-pill _primary-outline-bg'>
        <i class='fa fa-search'></i>
        Search
      </div> -->
    <!-- </section> -->
    <section class='fw6 f5'>
        <!-- <h3 class='ma1 pb3 fw6'>Links</h3> -->
        <ul class='_first-highlight fa-ul ma0'>
            <li class='pl5 pv3 _stripes'>Subject</li>
            <li *ngFor='let subjectLink of subjectLinks' class='pl5 pv3'>{{subjectLink}}</li>
        </ul>
    </section>
</div>

<div class='fl w-70 br b--light-gray pt4'>
    <!-- <header class='ph5 pv4'>
        <h2 class='ma0 fw6 pb2'>
            Welcome to myFy
        </h2>
        <small class='f6 fw6 secondary'></small>
    </header>
    <hr class='mh5 ba ma0 _stripes _spacer'> -->
    <header class='ph5 pt4 pb3'>
        <h2 class='ma0 fw6 pb2'>
            Upcoming Events
        </h2>
        <small class='f6 fw6 secondary'></small>
    </header>
    <section class='ph5 pv3'>
         <h2>Calendars</h2>
        <ul>
            <li>Academic and Activities Calendar</li>
            <li>Facilities Availability</li>
            <li>Marketing Teamup Calendar</li>
            <li>Tutor Academic Calendar</li>
        </ul>
    
    </section>
        
</div>

<div class='fl w-10 pt4 pr3'>
    <div class='flex fw6 flex-column items-start f5 b--light-gray'>
        <p class='tc pa3 fw6 w-100 ma0'>Subjects</p>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-table pr2'></i>AE</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-dollar pr2'></i>AC</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-home pr2'></i>AR</span>
        <span class='pv3 tc _success w-100 _primary _stripes'>
            <i class='_primary fa fa-users pr2'></i>BS</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-leaf pr2'></i>BL</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-suitcase pr2'></i>BM</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-flask pr2'></i>CH</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-line-chart pr2'></i>EC</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-quote-right pr2'></i>EL</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-desktop pr2'></i>IT</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-plus-square pr2'></i>MA</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-rocket pr2'></i>PH</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-book pr2'></i>RE</span>
    </div>
</div>