<div class='fl w-20 br b--light-gray pt4'>
    <!-- <section class='pa4 ph4 flex justify-center bb b--light-gray'> -->
    <!-- <div class='w-100 ph4 pv2 br-pill _primary-outline-bg'>
        <i class='fa fa-search'></i>
        Search
      </div> -->
    <!-- </section> -->
    <section class='fw6 f5'>
        <!-- <h3 class='ma1 pb3 fw6'>Links</h3> -->
        <ul class='_first-highlight fa-ul ma0'>
            <li class='pl4 pv3 ml2 _stripes'><i class='fa fa-home mr2'></i> Subject</li>
            <li *ngFor='let subjectLink of subjectLinks' class='pl4 ml2 pv3'><i class='fa secondary fa-file-text-o mr3'></i> {{subjectLink}}</li>
        </ul>
    </section>
</div>

<div class='fl w-70 br b--light-gray pt4'>
    <!-- <header class='ph5 pv4'>
        <h2 class='ma0 fw6 '>
            Welcome to myFy
        </h2>
        <small class='f6 fw6 secondary'></small>
    </header>
    <hr class='mh5 ba ma0 _stripes _spacer'> -->
    <header class='ph5 pt4 pb3'>
        <h2 class='ma0 fw6 '>
            Upcoming Events
        </h2>
        <small class='f6 fw6 secondary'></small>
    </header>
    <section class='ph5 pv3'>
        <a class='pv2 ph4 f6 fw3 br-pill _primary-outline-bg no-underline' href="javascript:void(0)">View All Events </a>
    </section>
    
    <!-- NEW SECTION -->
    <header class='ph5 pt4 pb3'>
        <h2 class='ma0 fw6 '>
            Timetables & Calendars
        </h2>
        <small class='f6 fw6 secondary'></small>
    </header>
    <hr class='mh5 ba ma0 _stripes _spacer'>

    <section class='ph5 pv3'>
        <!-- Timetables -->
        <h3 class=' ma0 fw6'>Timetables</h3>
        <p class='ma0 pb1'>
            August 2017 group S1 Exams
            <small class='secondary'>
                - Expires: 22 Dec 2017
            </small>
        </p>
        <p class='ma0 pb1'>
            O17 timetable 18-22 Dec 2017
            <small class='secondary'>
                - Expires: 22 Dec 2017
            </small>
        </p>
    </section>
    <section class='ph5 pv3'>
        <!-- Calendars -->
        <h3 class=' ma0 fw6'>Calendars</h3>
        <p class='ma0 pb1'>
            August group assessment calendar S1 2017
            <small class='secondary'>
                - Expires: 22 Dec 2017
            </small>
        </p>
        <p class='ma0 pb1'>
            October group assessment calendar 2017/18
            <small class='secondary'>
                - Expires: 31 May 2018
            </small>
        </p>
    </section>
    <section class='ph5 pv3'>
        <!-- Other Resources -->
        <h3 class=' ma0 fw6'>Other Resources</h3>
        <p class='ma0 pb1'>
            August group exam seating numbers Dec 2017
            <small class='secondary'>
                - Expires: 22 Dec 2017
            </small>
        </p>
        <p class='ma0 pb1'>
            Exam procedures for all 2017 IES students
            <small class='secondary'>
                - Expires: 22 Dec 2017
            </small>
        </p>
    </section>
        <!-- latest news section -->
        <header class='ph5 pt4 pb3'>
            <h2 class='ma0 fw6 '>
                Latest News
            </h2>
            <small class='f6 fw6 secondary'></small>
        </header>
        <hr class='mh5 ba ma0 _stripes _spacer'>
        <!-- Timetables -->
        <section class='ph5 pv3'>
            <h3 class=' ma0 fw6'>NEXT IELTS TEST DATES 2017 (St Lucia and Spring Hill)</h3>
            <p class='ma0 pb1'>
                Important information The test dates on this page are current at the time of viewing.If you... more
            </p>
        </section>
        <!-- Calendars -->
        <section class='ph5 pv3'>
            <h3 class=' ma0 fw6'>Requirements for your Aim at the University of Queensland</h3>
            <p class='ma0 pb1'>
                Information about the academic requirements for your undergraduate aim at the University of Queensland can... more
            </p>
        </section>
        <section class='ph5 pv3'>
            <a class='pv2 ph4 f6 fw3 br-pill _error-outline-bg no-underline' href="javascript:void(0)">RSS </a>
        </section>
</div>

<div class='fl w-10 pt4 pr3'>
    <div class='flex fw6 flex-column items-start f5 b--light-gray'>
        <p class='tc pa3 fw6 w-100 ma0'>Subjects</p>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-table pr2'></i>AE</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-dollar pr2'></i>AC</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-home pr2'></i>AR</span>
        <span class='pv3 tc _success w-100 _primary _stripes'>
            <i class='_primary fa fa-users pr2'></i>BS</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-leaf pr2'></i>BL</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-suitcase pr2'></i>BM</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-flask pr2'></i>CH</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-line-chart pr2'></i>EC</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-quote-right pr2'></i>EL</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-desktop pr2'></i>IT</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-plus-square pr2'></i>MA</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-rocket pr2'></i>PH</span>
        <span class='pv3 tc _success w-100'>
            <i class='secondary fa fa-book pr2'></i>RE</span>
    </div>
</div>